/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url("/Users/martinegagne/Desktop/bitmaker/projects/css-site-replication/starter-code/images/bgtile.png");
  background-repeat: repeat-x;
}

.insta-page{
  clear: both;
  margin: 60px;
  padding top: 20px;
}

h2 {
  color: #06365F;
  margin-top: 0px;
  font-size: 30px;
  padding-left: 30px;
}

p {
  padding-left:30px
}

.main {
  width: 400px;
  float: right;
  text-align: left;
  display: inline-table;
}

.text-content {
  float: right;
  background-image: url("/Users/martinegagne/Desktop/bitmaker/projects/css-site-replication/starter-code/images/frame.png");
  background-repeat: no-repeat;
  background-image width: 400px;
  font-size: 20px;
  width: 505px;
  padding: 40px 0;
}

.text-content img {
  padding top: 20px;
}

.footer {
  text-transform: uppercase;
  text-align: center;
  margin-top: 70px;
  font-size: 15px;
  padding: 20px;
  padding-top: 100;
  text-decoration: none;
}

ul{
  padding-top: 100px;
}

.footer li {
  display: inline;
  color: #FFFF;
}

/*.footer a {
  text-decoration: none
}*/
